body {
	background-color: #F5F5F5;
	font-family: arial;
	border: 15px #B22222;
	border-style: groove;
	padding: 20px;

}

a {
	color: #778899;
}

#fabulous {
	color: #080808 ;
	font-family: italic
	
}

